.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.784180;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._10{width:13.696440px;}
._1{width:31.088880px;}
._8{width:36.363600px;}
._14{width:45.599760px;}
._0{width:50.589360px;}
._17{width:53.145240px;}
._18{width:59.219760px;}
._13{width:60.717960px;}
._11{width:65.294280px;}
._5{width:71.768160px;}
._19{width:80.412480px;}
._12{width:81.910680px;}
._16{width:84.934320px;}
._15{width:92.507040px;}
._4{width:118.681200px;}
._9{width:127.352520px;}
._a{width:147.572280px;}
._7{width:177.822000px;}
._d{width:203.356440px;}
._6{width:235.883880px;}
._b{width:271.767960px;}
._3{width:276.523200px;}
._e{width:613.705680px;}
._f{width:676.402920px;}
._c{width:709.369920px;}
._2{width:864.055080px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:27.240000px;}
.fs0{font-size:36.000000px;}
.fs2{font-size:39.960000px;}
.fs3{font-size:44.040000px;}
.fs1{font-size:51.960000px;}
.fs5{font-size:57.240000px;}
.y48{bottom:8.553390px;}
.y10{bottom:11.314290px;}
.ye{bottom:12.806520px;}
.y13{bottom:15.535080px;}
.y1b{bottom:15.535140px;}
.y21{bottom:15.535170px;}
.y28{bottom:15.535230px;}
.y2e{bottom:15.535290px;}
.y17{bottom:15.540090px;}
.y1e{bottom:15.540150px;}
.y24{bottom:15.540210px;}
.y2b{bottom:15.540240px;}
.y15{bottom:16.019610px;}
.y2a{bottom:16.019760px;}
.y20{bottom:16.024680px;}
.y2d{bottom:16.044780px;}
.y1d{bottom:16.049640px;}
.y23{bottom:16.049700px;}
.y12{bottom:16.054560px;}
.y19{bottom:16.054620px;}
.y26{bottom:16.054710px;}
.y44{bottom:18.030000px;}
.y47{bottom:20.701230px;}
.y46{bottom:32.849070px;}
.y45{bottom:44.996910px;}
.yc{bottom:54.814470px;}
.y9{bottom:72.296970px;}
.yb{bottom:72.806460px;}
.y0{bottom:76.500000px;}
.y8{bottom:90.808440px;}
.y2f{bottom:100.830000px;}
.y7{bottom:108.300930px;}
.ya{bottom:108.810420px;}
.y30{bottom:127.594470px;}
.y38{bottom:132.570270px;}
.y6{bottom:141.813270px;}
.y42{bottom:169.677960px;}
.y41{bottom:178.980420px;}
.y5{bottom:180.843000px;}
.y3{bottom:181.230000px;}
.y40{bottom:186.927690px;}
.y3f{bottom:194.909010px;}
.y4{bottom:198.843000px;}
.y2{bottom:199.230000px;}
.y3e{bottom:202.890330px;}
.y3d{bottom:210.871650px;}
.y3c{bottom:218.852970px;}
.y3b{bottom:226.827480px;}
.y3a{bottom:234.808800px;}
.y39{bottom:242.762880px;}
.y32{bottom:250.983960px;}
.y37{bottom:251.282190px;}
.y36{bottom:258.841290px;}
.y31{bottom:264.361110px;}
.y35{bottom:266.400390px;}
.y34{bottom:273.959490px;}
.y33{bottom:281.518590px;}
.y43{bottom:303.443550px;}
.y2c{bottom:328.830000px;}
.y29{bottom:353.850000px;}
.y25{bottom:378.840000px;}
.y27{bottom:382.736880px;}
.y22{bottom:403.830000px;}
.y1f{bottom:428.850000px;}
.y1c{bottom:453.840000px;}
.y18{bottom:478.830000px;}
.y1a{bottom:482.726790px;}
.y14{bottom:503.850000px;}
.y16{bottom:507.721770px;}
.y11{bottom:528.840000px;}
.yf{bottom:553.830000px;}
.y1{bottom:580.080000px;}
.yd{bottom:622.736640px;}
.hb{height:19.844766px;}
.h7{height:25.050000px;}
.h3{height:25.839844px;}
.h6{height:26.310000px;}
.h5{height:27.784688px;}
.h8{height:28.682227px;}
.ha{height:30.621562px;}
.h4{height:36.128438px;}
.hc{height:39.799688px;}
.hd{height:60.000000px;}
.h9{height:228.060000px;}
.h2{height:231.810000px;}
.h1{height:724.000000px;}
.h0{height:841.889771px;}
.w2{width:559.260000px;}
.w1{width:559.500000px;}
.w0{width:100%;}
.x7{left:0.001980px;}
.x0{left:18.000000px;}
.x14{left:37.404540px;}
.x6{left:53.997930px;}
.x5{left:57.054870px;}
.x12{left:58.382130px;}
.x8{left:71.997930px;}
.x17{left:79.442460px;}
.x16{left:145.736100px;}
.x13{left:150.598440px;}
.x15{left:205.795980px;}
.x4{left:228.745050px;}
.xb{left:240.001740px;}
.x11{left:276.145500px;}
.xc{left:335.366280px;}
.xd{left:340.441200px;}
.xa{left:345.506130px;}
.x9{left:377.993610px;}
.xe{left:439.344390px;}
.x3{left:450.000000px;}
.x10{left:457.047120px;}
.xf{left:468.508530px;}
.x2{left:509.634000px;}
.x1{left:514.377000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._10{width:18.261920pt;}
._1{width:41.451840pt;}
._8{width:48.484800pt;}
._14{width:60.799680pt;}
._0{width:67.452480pt;}
._17{width:70.860320pt;}
._18{width:78.959680pt;}
._13{width:80.957280pt;}
._11{width:87.059040pt;}
._5{width:95.690880pt;}
._19{width:107.216640pt;}
._12{width:109.214240pt;}
._16{width:113.245760pt;}
._15{width:123.342720pt;}
._4{width:158.241600pt;}
._9{width:169.803360pt;}
._a{width:196.763040pt;}
._7{width:237.096000pt;}
._d{width:271.141920pt;}
._6{width:314.511840pt;}
._b{width:362.357280pt;}
._3{width:368.697600pt;}
._e{width:818.274240pt;}
._f{width:901.870560pt;}
._c{width:945.826560pt;}
._2{width:1152.073440pt;}
.fs4{font-size:36.320000pt;}
.fs0{font-size:48.000000pt;}
.fs2{font-size:53.280000pt;}
.fs3{font-size:58.720000pt;}
.fs1{font-size:69.280000pt;}
.fs5{font-size:76.320000pt;}
.y48{bottom:11.404520pt;}
.y10{bottom:15.085720pt;}
.ye{bottom:17.075360pt;}
.y13{bottom:20.713440pt;}
.y1b{bottom:20.713520pt;}
.y21{bottom:20.713560pt;}
.y28{bottom:20.713640pt;}
.y2e{bottom:20.713720pt;}
.y17{bottom:20.720120pt;}
.y1e{bottom:20.720200pt;}
.y24{bottom:20.720280pt;}
.y2b{bottom:20.720320pt;}
.y15{bottom:21.359480pt;}
.y2a{bottom:21.359680pt;}
.y20{bottom:21.366240pt;}
.y2d{bottom:21.393040pt;}
.y1d{bottom:21.399520pt;}
.y23{bottom:21.399600pt;}
.y12{bottom:21.406080pt;}
.y19{bottom:21.406160pt;}
.y26{bottom:21.406280pt;}
.y44{bottom:24.040000pt;}
.y47{bottom:27.601640pt;}
.y46{bottom:43.798760pt;}
.y45{bottom:59.995880pt;}
.yc{bottom:73.085960pt;}
.y9{bottom:96.395960pt;}
.yb{bottom:97.075280pt;}
.y0{bottom:102.000000pt;}
.y8{bottom:121.077920pt;}
.y2f{bottom:134.440000pt;}
.y7{bottom:144.401240pt;}
.ya{bottom:145.080560pt;}
.y30{bottom:170.125960pt;}
.y38{bottom:176.760360pt;}
.y6{bottom:189.084360pt;}
.y42{bottom:226.237280pt;}
.y41{bottom:238.640560pt;}
.y5{bottom:241.124000pt;}
.y3{bottom:241.640000pt;}
.y40{bottom:249.236920pt;}
.y3f{bottom:259.878680pt;}
.y4{bottom:265.124000pt;}
.y2{bottom:265.640000pt;}
.y3e{bottom:270.520440pt;}
.y3d{bottom:281.162200pt;}
.y3c{bottom:291.803960pt;}
.y3b{bottom:302.436640pt;}
.y3a{bottom:313.078400pt;}
.y39{bottom:323.683840pt;}
.y32{bottom:334.645280pt;}
.y37{bottom:335.042920pt;}
.y36{bottom:345.121720pt;}
.y31{bottom:352.481480pt;}
.y35{bottom:355.200520pt;}
.y34{bottom:365.279320pt;}
.y33{bottom:375.358120pt;}
.y43{bottom:404.591400pt;}
.y2c{bottom:438.440000pt;}
.y29{bottom:471.800000pt;}
.y25{bottom:505.120000pt;}
.y27{bottom:510.315840pt;}
.y22{bottom:538.440000pt;}
.y1f{bottom:571.800000pt;}
.y1c{bottom:605.120000pt;}
.y18{bottom:638.440000pt;}
.y1a{bottom:643.635720pt;}
.y14{bottom:671.800000pt;}
.y16{bottom:676.962360pt;}
.y11{bottom:705.120000pt;}
.yf{bottom:738.440000pt;}
.y1{bottom:773.440000pt;}
.yd{bottom:830.315520pt;}
.hb{height:26.459687pt;}
.h7{height:33.400000pt;}
.h3{height:34.453125pt;}
.h6{height:35.080000pt;}
.h5{height:37.046250pt;}
.h8{height:38.242969pt;}
.ha{height:40.828750pt;}
.h4{height:48.171250pt;}
.hc{height:53.066250pt;}
.hd{height:80.000000pt;}
.h9{height:304.080000pt;}
.h2{height:309.080000pt;}
.h1{height:965.333333pt;}
.h0{height:1122.519695pt;}
.w2{width:745.680000pt;}
.w1{width:746.000000pt;}
.w0{width:793.700765pt;}
.x7{left:0.002640pt;}
.x0{left:24.000000pt;}
.x14{left:49.872720pt;}
.x6{left:71.997240pt;}
.x5{left:76.073160pt;}
.x12{left:77.842840pt;}
.x8{left:95.997240pt;}
.x17{left:105.923280pt;}
.x16{left:194.314800pt;}
.x13{left:200.797920pt;}
.x15{left:274.394640pt;}
.x4{left:304.993400pt;}
.xb{left:320.002320pt;}
.x11{left:368.194000pt;}
.xc{left:447.155040pt;}
.xd{left:453.921600pt;}
.xa{left:460.674840pt;}
.x9{left:503.991480pt;}
.xe{left:585.792520pt;}
.x3{left:600.000000pt;}
.x10{left:609.396160pt;}
.xf{left:624.678040pt;}
.x2{left:679.512000pt;}
.x1{left:685.836000pt;}
}
